:root {
  --primary: #31f572;
  --secondary: #de195f;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
}

.outline {
  outline: 1px solid #f00;
}
